# CMake generierte Dateien und Ordner
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
CMakeUserPresets.json

# Build-Ordner (wenn du z.B. "build/" als Ordner benutzt)
build/

# Objektdateien und Binaries
*.o
*.obj
*.so
*.dll
*.exe
*.lib
*.a
*.out

# Temporäre Dateien / Editoren
*.swp
*~
.DS_Store
